.page.active{


    animation:

    fade .5s ease;


}



@keyframes fade{


from{

opacity:0;

transform:
translateY(20px);

}


to{

opacity:1;

transform:
translateY(0);

}


}




.card{


animation:

float 5s infinite ease-in-out;


}



@keyframes float{


0%,100%{

transform:
translateY(0);

}


50%{

transform:
translateY(-8px);

}


}
/* ==========================
   ANIMASI PINDAH SOAL
========================== */


.question-card.animate{


    animation:

    slideQuestion
    0.3s
    ease;


}



@keyframes slideQuestion{


    from{


        opacity:0;

        transform:
        translateX(30px);


    }



    to{


        opacity:1;

        transform:
        translateX(0);


    }


}